.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

node_modules/
*.log
*.0
*.out

# IntelliJ files
*.iml
.idea
.vscode

.nvmrc
dist/
dist-new/
dist-old/
log/*
!log/.gitkeep
log-zip/*
!log-zip/.gitkeep
server_log.*
/swivel-conf-new*.json
.env
.env.local
yarn.lock
package-lock.json
sqlite.json
EDI-BACKUP/import/*
EDI-BACKUP/export/*
!EDI-BACKUP/import/.gitkeep
!EDI-BACKUP/export/.gitkeep
ERROR-TRACKING/AIR/*
ERROR-TRACKING/SEA/*
!ERROR-TRACKING/AIR/.gitkeep
!ERROR-TRACKING/SEA/.gitkeep
EMAIL-TEST/*
!EMAIL-TEST/.gitkeep

nodemon-debug.json
nodemon-prod.json
nodemon.json

bin/sync/syncStructOutput/*

# symlink
src/modules/cta
